.navbar_font_color {
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  font-family: 'Google Sans',Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  //letter-spacing: .15px;
  //color: #5f6368;
  font-weight: 500;
  letter-spacing: 0;
  color: #d93025;
}