.navbar-left {
  background-color: white;
  border-left: 1px solid #f1f3f4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 56px;
}

.navbar-right {
  background-color: white;
  border-left: 1px solid #f1f3f4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 56px;
}